<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.tmall.entity.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="payTime" jdbcType="VARCHAR" property="payTime" />
    <result column="phoneNumber" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="deliveryTime" jdbcType="VARCHAR" property="deliveryTime" />
    <result column="confirmTime" jdbcType="VARCHAR" property="confirmTime" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, pid, status, amount, post, receiver, address, payTime, phoneNumber, deliveryTime, confirmTime, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from _order
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="list" resultType="com.tmall.entity.Order">
      SELECT <include refid="Base_Column_List"/>
      FROM _order
    </select>
  <select id="getUserOrder" resultType="com.tmall.entity.Order">
      SELECT <include refid="Base_Column_List"/>
      from _order
      where uid = #{uid,jdbcType=INTEGER}
  </select>
    <select id="userOrderStatus" resultType="com.tmall.entity.Order">
      SELECT <include refid="Base_Column_List"/>
      from _order
      where uid = #{uid,jdbcType=INTEGER} AND status = #{status,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from _order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tmall.entity.Order">
    insert into _order (id, uid, pid status,
      amount, post, receiver, address, payTime, phoneNumber, deliveryTime, confirmTime, createTime, updateTime
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
      #{amount,jdbcType=DECIMAL},  #{post,jdbcType=VARCHAR},  #{receiver,jdbcType=VARCHAR},
       #{address,jdbcType=VARCHAR},  #{payTime,jdbcType=VARCHAR},
        #{phoneNumber,jdbcType=VARCHAR},  #{deliveryTime,jdbcType=VARCHAR},
         #{confirmTime,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tmall.entity.Order" useGeneratedKeys="true" keyProperty="id">
    insert into _order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="post != null">
        post,
      </if>
      <if test="receiver != null">
        receiver,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="payTime != null">
        payTime,
      </if>
      <if test="phoneNumber != null">
        phoneNumber,
      </if>
      <if test="deliveryTime != null">
        deliveryTime,
      </if>
      <if test="confirmTime != null">
        confirmTime,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="post != null">
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null">
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        #{deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null">
        #{confirmTime,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmall.entity.Order">
    update _order
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="post != null">
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null">
        receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null">
        payTime = #{payTime,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phoneNumber = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        deliveryTime = #{deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null">
        confirmTime = #{confirmTime,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmall.entity.Order">
    update _order
    set uid = #{uid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      post = #{post,jdbcType=VARCHAR},
      receiver = #{receiver,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      payTime = #{payTime,jdbcType=TIMESTAMP},
      phoneNumber = #{phoneNumber,jdbcType=VARCHAR},
      deliveryTime = #{deliveryTime,jdbcType=TIMESTAMP},
      confirmTime = #{confirmTime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>