<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmall.dao.PropertyValueMapper">
  <resultMap id="BaseResultMap" type="com.tmall.entity.PropertyValue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="ptid" jdbcType="INTEGER" property="ptid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, value, ptid, pid, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from propertyvalue
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="list" resultType="com.tmall.entity.PropertyValue">
      select <include refid="Base_Column_List" />
      from propertyvalue
    </select>
    <select id="getPidValueList" resultType="com.tmall.entity.PropertyValue">
      select <include refid="Base_Column_List" />
      from propertyvalue
      where pid = #{pid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from propertyvalue
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deletePidList">
    delete from propertyvalue
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tmall.entity.PropertyValue">
    insert into propertyvalue (id, value, ptid, pid,
      createTime, updateTime)
    values (#{id,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}, #{ptid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER},
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tmall.entity.PropertyValue">
    insert into propertyvalue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="ptid != null">
        ptid,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="ptid != null">
        #{ptid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmall.entity.PropertyValue">
    update propertyvalue
    <set>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="ptid != null">
        ptid = #{ptid,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmall.entity.PropertyValue">
    update propertyvalue
    set value = #{value,jdbcType=VARCHAR},
      ptid = #{ptid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>